* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* display: grid;
  grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
  gap: 10px; */
}

header {
  grid-area: header;
  padding: 0 172px;
}
header > .header-top {
  display: flex;
  gap: 10px;
  background: #a4f0588b;

  justify-content: space-between;
  padding: 15px;
}

.header-top > div > a {
  text-decoration: none;
}

.header-contact > a {
  text-decoration: none;
}
header > .header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.search {
}
.search > i {
  padding: 10px;
  /* border: 1px solid gray; */
}
.user > a {
  text-decoration: none;
}
.search > input {
  padding: 10px;
  width: 400px;
  border: none;
}
form {
  border: 1px solid black;
}
.main-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.icon > i {
}

.user {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.noidung > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}
